{
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "ie >= 10"]
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-async-functions",
    "transform-decorators-legacy",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "transform-object-rest-spread",
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        },
        "ramda": {
          "transform": "ramda/src/${member}",
          "preventFullImport": true
        },
        "react-popper": {
          "transform": "react-popper/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
